slnWCF/ClienteWebWCFConverTemps/Connected Services/ServiceReference2/ServWebWCFConverTemps2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceConverTemp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceConverTemp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Detalles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grados" type="xs:double" />
      <xs:element minOccurs="0" name="Literal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SonCentigrados" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalles" nillable="true" type="tns:Detalles" />
</xs:schema>