slnWCF/ClienteWebWCFConverTemps/Connected Services/ServiceReference1/ServWebWCFConverTemps.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64546/ServWebWCFConverTemps.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceConverTemp" />
  <xs:element name="ConvCentAFahr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gCent" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvCentAFahrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvCentAFahrResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvFahrACent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gFahr" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvFahrACentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvFahrACentResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultadoDetallado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceConverTemp" minOccurs="0" name="detalle" nillable="true" type="q1:Detalles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultadoDetalladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceConverTemp" minOccurs="0" name="ResultadoDetalladoResult" nillable="true" type="q2:Detalles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>