slnWCF/ClienteWebWCFConverTemps/Connected Services/ServiceReference1/ServWebWCFConverTemps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServWebWCFConverTemps" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64546/ServWebWCFConverTemps.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64546/ServWebWCFConverTemps.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64546/ServWebWCFConverTemps.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceConverTemp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServWebWCFConverTemps_ConvCentAFahr_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvCentAFahr" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ConvCentAFahr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvCentAFahrResponse" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ConvFahrACent_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvFahrACent" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ConvFahrACent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvFahrACentResponse" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ResultadoDetallado_InputMessage">
    <wsdl:part name="parameters" element="tns:ResultadoDetallado" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ResultadoDetallado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultadoDetalladoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServWebWCFConverTemps">
    <wsdl:operation name="ConvCentAFahr">
      <wsdl:input wsaw:Action="http://tempuri.org/IServWebWCFConverTemps/ConvCentAFahr" message="tns:IServWebWCFConverTemps_ConvCentAFahr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServWebWCFConverTemps/ConvCentAFahrResponse" message="tns:IServWebWCFConverTemps_ConvCentAFahr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvFahrACent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServWebWCFConverTemps/ConvFahrACent" message="tns:IServWebWCFConverTemps_ConvFahrACent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServWebWCFConverTemps/ConvFahrACentResponse" message="tns:IServWebWCFConverTemps_ConvFahrACent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResultadoDetallado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServWebWCFConverTemps/ResultadoDetallado" message="tns:IServWebWCFConverTemps_ResultadoDetallado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServWebWCFConverTemps/ResultadoDetalladoResponse" message="tns:IServWebWCFConverTemps_ResultadoDetallado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServWebWCFConverTemps" type="tns:IServWebWCFConverTemps">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvCentAFahr">
      <soap:operation soapAction="http://tempuri.org/IServWebWCFConverTemps/ConvCentAFahr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvFahrACent">
      <soap:operation soapAction="http://tempuri.org/IServWebWCFConverTemps/ConvFahrACent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultadoDetallado">
      <soap:operation soapAction="http://tempuri.org/IServWebWCFConverTemps/ResultadoDetallado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServWebWCFConverTemps">
    <wsdl:port name="BasicHttpBinding_IServWebWCFConverTemps" binding="tns:BasicHttpBinding_IServWebWCFConverTemps">
      <soap:address location="http://localhost:64546/ServWebWCFConverTemps.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>